* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.block_input{
	width: 600px;
	margin: 30px auto 50px;
	display: flex;
	justify-content: space-around;
}

#input{
	width: 400px;
	height: 40px;
	text-align: center;
	border: 2px solid rgb(203, 59, 59);
	outline: none;
	border-radius: 10px;
	background-color: antiquewhite;
	font-size: 16px;
}

#create_button{
	width: 150px;
	height: 40px;
	border: 2px solid rgb(203, 59, 59);
	border-radius: 10px;
	background-color: antiquewhite;
	font-size: 16px;
	color: black;
}

.bigBlock_list{
	width: 700px;
	margin: 0 auto;
}
.block_list{
	width: 100%;
	background-color: antiquewhite;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	border-radius: 10px;
	margin-bottom: 10px;
	border: 2px solid rgb(203, 59, 59);
}

.btn_reverse{
	width: 30px;
	height: 30px;
	border: 2px solid rgb(203, 59, 59);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
}

.btn_reverse:hover{
	background-color: rgb(108, 150, 255);
	transition: .3s;
}

.img_reverse{
	width: 20px;
	height: 20px;
	object-fit: contain;
}

.block_buttons {
	display: flex;
	flex-direction: column;
	gap: 5px;
 }

 .bigBtnBlock{
	display: flex;
	align-items: center;
	gap: 5px;
 }

.delete_button {
	width: 100px;
	height: 20px;
	border: 2px solid ;
	cursor: pointer;
	background-color: #fff;
	font-size: 14px;
	border-radius: 10px;
	color: black;
	text-align: center;
	border: 2px solid rgb(203, 59, 59);
 }
 .delete_button:hover{
	background-color: #f94e4e;
	transition: .3s;
 }
 
 .edit_button {
	background-color: #fff;
	width: 100px;
	height: 20px;
	border: 2px solid white;
	cursor: pointer;
	font-size: 14px;
	border-radius: 10px;
	color: black;
	text-align: center;
	border: 2px solid rgb(203, 59, 59);
 }
 .edit_button:hover{
	background-color: #fbed68;
	color: black;
	transition: .3s;
 }